// inclusione font
@import '@fontsource-variable/montserrat';

// inclusione variabili
@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: $main-font;
}