// inclusione variabili
@use './partials/variables' as *;

// inclusione font
@import '@fontsource/roboto';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: $main-font;
}